@font-face {
  font-family: "Pokemon Solid";
  src: url("../fonts/Pokemon Solid.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body,
div.form {
  height: 100%;
}

body {
  background-image: url("../img/bg.png");
  background-size: 73% 100%;
  background-position: left;

  font-family: "Pokemon Solid", sans-serif;
  color: #ffcc36;
  text-shadow: 2px 2px 0 #2f6db5, 2px -2px 0 #2f6db5, -2px 2px 0 #2f6db5,
    -2px -2px 0 #2f6db5, 2px 0px 0 #2f6db5, 0px 2px 0 #2f6db5,
    -2px 0px 0 #2f6db5, 0px -2px 0 #2f6db5;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

div.form {
  background-color: #f9f9f9;
  border-left: 2px #2f6db5 solid;
  width: 35%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.form > h1 {
  padding: 15px;
  text-align: center;
  margin: 10% 0;
}

div.form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

div.form > form > input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px #2f6db5 solid;
  border-radius: 15px;
  text-align: center;
}

div.form > form > p {
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
}

div.form > p {
  margin-bottom: 10%;
  font-size: 35px;
}

div.photo {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.photo > span {
  font-size: 25px;
}

img {
  width: 100%;
  height: 100%;
  filter: brightness(0);
  pointer-events: none;
}

@media (max-width: 550px) {
  body {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: #e7ecf1;
  }

  img {
    width: 100%;
  }

  div.form {
    border: none;
    border-top: 2px solid #2f6db5;
    width: 100%;
  }

  div.form > h1 {
    margin: 0;
    font-size: 20px;
  }

  div.form > form > p {
    font-size: 20px;
  }

  div.form > p {
    font-size: 25px;
  }
}
